.nav {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    width: 30rem;
    height: 5rem;
}
.logoContainer{
    position: relative;
}
.logo {
    height: 3rem;
    padding: 12px;
    border-radius: 50%;
    position: absolute;
    left: 10px; 
}
.verticalLine {
    height: 80%; 
    margin-top: 6px;
    border-right: 2px solid rgba(255, 255, 0, 0.477); 
    margin-right:24rem; 
}
.navname{
    color: aliceblue;
    margin-top: -60px;
    margin-right: 160px;
    letter-spacing: 5px;
}
.course{
    margin-left: 23rem;
    margin-top: -42px;
}
.course button {
    background-color: rgb(191, 199, 33); 
    color: white; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 6px;
    cursor: pointer;
}

/* iphone 12 pro view */
@media only screen and (max-width: 395px) {
    .nav {
        top: 0;
        left: 7%;
        transform: translateX(-10%);
        background-color: black;
        width: 25.9rem;
        height:5rem;
    }
    .logoContainer{
        position: relative;
    }
    .logo {
        height: 2rem;
        padding: 12px;
        border-radius: 50%;
        position: absolute;
        left: 10px;
        margin-top: 10px; 
    }
    .verticalLine {
        margin-left: 65px;
        height: 80%; 
        margin-top: 8px;
    }
    .navname{
        margin-top: -59px;
        margin-right: 130px;
        letter-spacing: 4px;
    }
    .course{
        margin-left: 16rem;
    }
}
@media only screen and (min-width: 400px) {
    .nav {
        top: 0;
        left: 10%;
        transform: translateX(-10%);
        background-color: black;
        width: 31rem;
        height:5rem;
    }
    .logo {
        height: 2rem;
        padding: 12px;
        border-radius: 50%;
        position: absolute;
        margin-top: 10px; 
    }
    .verticalLine {
        margin-right: 380px;
        height: 80%; 
        margin-top: 8px;
    }
    .navname{
        margin-top: -59px;
        margin-right: 130px;
        letter-spacing: 4px;
    }
    .course{
        margin-left: 19rem;
    }
}
@media only screen and (min-width: 375px) {
    .course{
        margin-left: 14rem;
    }
}
