.divider {
  position: relative;
  border-top: 2px solid lightgray;
  width: 100px;
  margin-left: 32%;
  border-right: 2px solid lightgray;
  height: 30px;
}

.divider::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 22rem;
  background-color: lightgray;
  top: 100%;
  left: 100%;
}

.post {
  color: rgb(34, 167, 219);
  font-weight: 500;
}

.container {
  margin-left: 43%;
  width: 300px;
}

.content-container {
  display: flex;
  align-items: center;
}

.content-container p {
  font-size: large;
  font-weight: 700;
  margin-left: -8.3rem;
  white-space: nowrap;
}

.content-container img {
  margin-left: auto;
  height: 20px;
  width: 20px;
}


.subheading {
  margin-left: -8rem;
  margin-top: 0;
  text-align: justify;
}

.parent-container {
  display: flex;
  align-items: center;
}

.navdiv {
  display: flex;
  margin-left: -8rem;
}
.p1 {
  color: rgb(14, 189, 189);
  font-weight: 500;
}
.p2 {
  color: rgb(55, 41, 41);
  font-weight: 500;
}
.p3 {
  color: gray;
}


.navdiv p {
  margin-right: 10px;
}


.parent-container>div span p {
  margin: 0;
}
.hr {
  margin-left: -8rem;
  width: 26rem;
}
@media only screen and (min-width: 374px) and (max-width: 460px) 
{
  .divider{
    margin-left: -5px;
    font-size: medium;
    width: 6rem;
  }
  .content-container p{
    font-size: medium;
  }
  .content-container img{
    margin-right: 5.5rem;
  }
  .subheading{
    font-size: small;
    width: 22rem;
  }
  .p1{
    font-size: small;
  }
  .p2{
    font-size: small;
  }
  .p3{
    font-size: small;
  }
  .hr{
    width: 22rem;
  }
}

