.divider {
  position: relative;
  border-top: 2px solid lightgray;
  width: 100px;
  margin-left: 32%;
  border-right: 2px solid lightgray;
  height: 35px;
}

.divider::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 22rem;
  background-color: lightgray;
  top: 100%;
  left: 100%;
}

.post {
  color: rgb(34, 167, 219);
  font-weight: 500;
}

.container {
  margin-left: 43%;
  width: 300px;
}

.content-container {
  display: flex;
  align-items: center;
}

.content-container p {
  font-size: large;
  font-weight: 700;
  margin-left: -8.3rem;
  white-space: nowrap;
}

.content-container img {
  margin-left: auto;
  height: 20px;
  width: 20px;
}

.subheading {
  margin-left: -8rem;
  margin-top: 0;
  text-align: justify;
}
.parent-container {
  display: flex;
  align-items: center;
}

.navdiv {
  display: flex;
  margin-left: -8rem;
}
.p1{
  color: rgb(14, 189, 189);
  font-weight: 500;
}
.p2
{
  color: rgb(55, 41, 41);
  font-weight: 500;
}
.p3{
  color: gray;
}

.navdiv p {
  margin-right: 10px;
}


.parent-container > div span p {
  margin: 0;
}
.hr{
  margin-left: -8rem;
  width: 26rem;
}

@media only screen and (max-width: 395px) {
  .divider{
    margin-left: 1%;
  }
  .divider::after {
    width: 20rem;
  }
  .container {
    margin-left: 39%;
    width: 300px;
  }
  .content-container p {
    font-weight: 700;
    margin-left: -8.3rem;
    white-space: nowrap;
  }
  
  .content-container img {
    margin-right: 70px;
    height: 20px;
    width: 20px;
  }
  .subheading {
    white-space: pre-wrap;
    width: 22rem;
  }
  .p1{
    font-size: 12px;
  }
  .p2{
    font-size: 12px;
  }
  .p3{
    position: absolute;
    right: 6%;
    font-size: 12px;
  }
  .hr{
    margin-left: -8rem;
    width: 24rem;
  }
}
@media only screen and (max-width: 400px) {
  .divider{
    margin-left: 1%;
  }
  .divider::after {
    width: 23rem;
  }
  .container {
    margin-left: 33%;
    width: 300px;
  }
  .content-container p {
    font-weight: 800;
    margin-left: -8.3rem;
    white-space: nowrap;
  }
  
  .content-container img {
    margin-right: 30px;
  }
  .subheading {
    white-space: pre-wrap;
    width: 25rem;
  }
  .p1{
    font-size: 12px;
  }
  .p2{
    font-size: 12px;
  }
  .p3{
    font-size: 12px;
    position: absolute;
    right: 10px;
  }
  .hr{
    margin-left: -11rem;
    width: 31rem;
  }
}
@media only screen and (max-width: 430px) {
  .content-container img {
    margin-right: 50px;
  }
  .subheading {
    width: 23.5rem;
  }
  .p2{
    font-size: 12px;
  }
  .p3{
    font-size: 12px;
    position: absolute;
    right: 7%;
  }
  .divider{
    margin-left: 10px;
  }
}
@media only screen and (max-width: 432px){
  .divider{
    margin-left: 2%;
  }
  .content-container img {
    margin-right: 50px;
  }
  .subheading {
    width: 23.5rem;
  }
  .p2{
    margin-top: 20px;
    font-size: 12px;
  }
  .p3{
    font-size: 12px;
    position: absolute;
    /* right: 7%; */
  }
}
@media only screen and (max-width: 360px) {
  .p2{
    font-size: 12px;
  }
  .p3{
    font-size: 12px;
    position: absolute;
    margin-right: 5%;
  }
}
@media only screen and (max-width: 412px) {
  .content-container img {
    margin-right: 50px;
  }
  .subheading {
    width: 24rem;
  }
}

@media only screen and (max-width: 412px) {
  .content-container img {
    margin-right: 1px;
  }
  .subheading {
    width: 28rem;
  }
}