.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  color: #61dafb;
}



.banner {
  height: 180px;
  width: 480px;
  margin-top: 5rem;
  position: relative;
}
@media only screen and (min-width: 374px) and (max-width: 460px) {
  .banner{
    width: 25rem;
    object-fit: cover;
  }
}
